{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{% if language %}{{ language }}{% else %}ru{% endif %}">
<head>
	<title>{% block title %}title{% endblock %}</title>
	<meta charset="utf-8">
	<!-- <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}"> -->
	<!-- <link rel="stylesheet" href="{% static 'core/css/bootstrap-theme.css' %}"> -->
	<link rel="stylesheet" href="{% static 'core/css/base.css' %}" >
	<link rel="stylesheet" href="{% static 'core/css/style.css' %}" >

	<script src="{% static 'core/js/jquery.js' %}"></script>

	<link type="text/css" href="{% static 'core/css/jquery-ui.min.css' %}" rel="stylesheet" />
	<link type="text/css" href="{% static 'core/css/jquery-ui.theme.min.css' %}" rel="stylesheet" />
	<link rel="stylesheet" href="{% static 'core/css/event_detail.css' %}" >
	<script type="text/javascript" src="{% static 'core/js/jquery-ui.min.js' %}"></script>
	{% block head %}{% endblock %}
</head>
<body>

<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter43414749 = new Ya.Metrika({ id:43414749, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/43414749" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

	<div id="beta">beta version <div id="ajaxResult"></div></div>
	<header>
		<div id="main-menu">
			<div class="add-event-button">
				<a href="{% url 'core:addEvent' %}">Добавить событие</a>
			</div>
			<ul>
				<li><a href="{% url 'core:eventList' category='future' %}">Предстоящие события</a></li>
				<li><a href="{% url 'core:eventList' category='past' %}">Прошедшие события</a></li>
				{% if request.user.is_authenticated %}
				<li><a href="{% url 'core:eventList' category='my' %}">Мои события</a></li>
				{% endif %}
			</ul>
			{% if request.user.is_authenticated %}
			<div class="profile-button">
				<a href="{% url 'accounts:editProfile' %}">{{ request.user.username }}</a>
			</div>
			{% else %}
			<div class="login-button">
				<a href="{% url 'accounts:login' %}">Войти</a>
			</div>
			{% endif %}
		</div>
	</header>
	<div id="content">
{% block content %}{% endblock %}
	</div>
	<footer>

	</footer>

	<script src="{% static 'core/js/bootstrap.min.js' %}"></script>
</body>
</html>