{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{% if language %}{{ language }}{% else %}ru{% endif %}">
<head>
	<title>{% block title %}title{% endblock %}</title>
	<meta charset="utf-8">
	<!-- <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}"> -->
	<!-- <link rel="stylesheet" href="{% static 'core/css/bootstrap-theme.css' %}"> -->
	<link rel="stylesheet" href="{% static 'core/css/base.css' %}" >
	<link rel="stylesheet" href="{% static 'core/css/style.css' %}" >

	<script src="{% static 'core/js/jquery.js' %}"></script>

	<link type="text/css" href="{% static 'core/css/jquery-ui.min.css' %}" rel="stylesheet" />
	<link type="text/css" href="{% static 'core/css/jquery-ui.theme.min.css' %}" rel="stylesheet" />
	<link rel="stylesheet" href="{% static 'core/css/event_detail.css' %}" >
	<script type="text/javascript" src="{% static 'core/js/jquery-ui.min.js' %}"></script>
	<script src="{% static 'core/js/dom_generator.js' %}" charset="utf-8"></script>
	<script>
		function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = jQuery.trim(cookies[i]);
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');

		function csrfSafeMethod(method) {
		    // these HTTP methods do not require CSRF protection
		    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
		    beforeSend: function(xhr, settings) {
		        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
		            xhr.setRequestHeader("X-CSRFToken", csrftoken);
		        }
		    }
		});
	</script>
	{% block head %}{% endblock %}
</head>
<body>
<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter43414749 = new Ya.Metrika({ id:43414749, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/43414749" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

	<div id="content">
	<div id="beta">beta version</div>
	<div id="ajaxResult"></div>
	<div class="sidebar">
	{% if request.user.is_authenticated %}
		
			<div class="profile-button">
				<a href="{% url 'accounts:profile' username=request.user.username %}">{{ request.user.username }}</a>
			</div>
			<div class="more-button" onclick="openFloatingMenu()">&lt; &gt;</div>
			<div class="edit-profile-button">
				<a href="{% url 'accounts:editProfile' %}">Изменить</a>
			</div>
		<div class="item add-event-button">
			<a href="{% url 'core:addEvent' %}">Добавить событие</a>
		</div>
		{% else %}
		<div class="login-button">
			<a href="{% url 'accounts:login' %}">Войти</a>
		</div>
		{% endif %}

		<div class="item">
			<div class="hide_show_button">&gt;</div>
			<a href="{% url 'core:index' %}">События</a>
			<div class="submenu">
				<div class="subitem">
					<a href="{% url 'core:eventList' category='future' %}">Предстоящие</a>
				</div>
				<div class="subitem">
					<a href="{% url 'core:eventList' category='past' %}">Прошедшие</a>
				</div>
				{% if request.user.is_authenticated %}
				<div class="subitem">
					<a href="{% url 'core:eventList' category='my' %}">Мои</a>
				</div>
				{% endif %}
			</div>
		</div>
		<div class="item">
			<div class="hide_show_button">&gt;</div>
			<a href="{% url 'core:index' %}">Обсуждения</a>
			<div class="submenu">
				<div class="subitem">
				<a href="{% url 'core:eventList' category='future' %}">Интересные</a>
				</div>
				<div class="subitem">
					<a href="{% url 'core:eventList' category='past' %}">Новые</a>
				</div>
				{% if request.user.is_authenticated %}
				<div class="subitem">
					<a href="{% url 'core:eventList' category='my' %}">Мои</a>
				</div>
				{% endif %}
			</div>
		</div>

		{% if request.user.is_authenticated %}
			<div class="logout-button">
				<a href="{% url 'accounts:logout' %}">Выйти</a>
			</div>
		{% endif %}
	</div>
	<script>
	/* sidebar items */
	function make_sidebar_menu() {
		$('.sidebar .item .hide_show_button').click(function() {
			$(this).parent().children('.submenu').slideToggle(250);
			$(this).text(function(i, text){
			  return text === ">" ? "<" : ">";
			});
		});

	}
	make_sidebar_menu();
	</script>
	<div class="posts">
	{% block header %}
	{% endblock %}
{% block content %}{% endblock %}
	</div>
	</div>

	<script src="{% static 'core/js/bootstrap.min.js' %}"></script>
</body>
</html>