{% extends 'core/base.html' %}

{% load static %}
{% load i18n %}

{% block title %}IT microphone{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'core/css/timepicker-ui.min.css' %}" type="text/css"/> 
<script src="{% static 'core/js/timepicker-ui.min.js' %}"></script>
{% endblock %}

{% block content %}
<h2>Редактировать событие</h2>
<div class="form_wrapper">
	<form action="." method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="{% trans 'Добавить' %}">
	</form>
</div>
<script>
$(".datepicker").datepicker({dateFormat: 'yy-mm-dd T'});
$('.timepicker').timePicker();
</script>
{% endblock %}