{% load is_user_subscribed_to_event %}
{% load mathfilters %}
{% load i18n %}

<div id="event_detail_frame">
	<div class="header">
		<h1 class="theme">{{ event.theme }}</h1>
		<div class="button-wrapper">
			<button class="{% if user|is_user_subscribed_to_event:event %}subscribed-button{% else %}subscribe-button{% endif %}" onclick="{% if user|is_user_subscribed_to_event:event %}unsubscribeFromEvent(this, {{ event.pk }}){% else %}subscribeToEvent(this, {{ event.pk }}){% endif %}" subscribers="{{ event.subscribers.count }}">{% if user|is_user_subscribed_to_event:event %}Отписаться{% else %}Подписаться{% endif %} ({{ event.subscribers.count }})</button>
		</div>
	</div>
	<div id="content">
		<!-- <div class="lector"> -->
				{% if event.owner.profile.avatar and event.owner.profile.avatar.url is not None %}
				<div class="avatar">
					<img src="{{ event.owner.profile.avatar.url }}">
				</div>
				{% endif %}
		<!-- </div> -->
		<div class="options">
			<div class="option">
				<div class="key">Лектор</div>
				<div class="value">{{ event.owner.username }}</div>
			</div>
			<div class="option">
				<div class="key">Место проведения</div>
				<div class="value">{{ event.location }}</div>
			</div>
			<div class="option">
				<div class="key">Дата и время начала</div>
				<div class="value">{{ event.event_start_time }}</div>
			</div>
			<div class="option">
				<div class="key">Длительность</div>
				<div class="value">{{ event.duration }}</div>
			</div>
			<div class="option">
				<div class="key">Необходимо подписчиков</div>
				<div class="value">{{ event.need_subscribers }}</div>
			</div>
		</div>
		<div class="description">
		{{ event.description }}
		</div>
		<div id="eventChat" class="chat">
			<div class="comments_count">{% trans 'Количество комментариев' %} - {{ event.chat.count_messages }}</div>
			<div class="messages">
			
			</div>
			<script>updateChat(eventChat, {{ event.chat.pk }}, 0, 50);</script>
			<a class="update_button" href="#" onclick="updateChat(eventChat, {{ event.chat.pk }}, 0, 50)">Обновить</a>
		</div>
		<form id="add_comment_form" action="." method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="{% trans 'Отправить' %}">
		</form>
		<script>
		$('#add_comment_form').on('submit', function(event){
		    event.preventDefault();
		    addComment($(this).serialize());
		});
		</script>

		<script>
		function addComment(formData) {
			$.ajax({
				type: 'POST',
				url: '{% url 'chat:addMessage' pk=event.chat.pk %}',
				data: formData,
				success: function(data) {
					showNotification(data.text);
					if(!data.state)
						return;
					updateChat();
					$('#add_comment_form ').find("input[type=text], textarea").val("");
				},
				error: function(xhr, str) {
					alert('Возникла ошибка: ' + xhr.responseCode);
				}
			});
		}

		var n = 0
		
		</script>
	</div>
</div>
