{% load is_user_subscribed_to_event %}
<div id="event_detail_frame">
	<div class="header">
		<h1 class="theme">{{ event.theme }}</h1>
		<div class="button-wrapper">
			<button class="{% if user|is_user_subscribed_to_event:event %}subscribed-button{% else %}subscribe-button{% endif %}" onclick="{% if user|is_user_subscribed_to_event:event %}unsubscribeFromEvent(this, {{ event.pk }}){% else %}subscribeToEvent(this, {{ event.pk }}){% endif %}" subscribers="{{ event.subscribers.count }}">{% if user|is_user_subscribed_to_event:event %}Отписаться{% else %}Подписаться{% endif %} ({{ event.subscribers.count }})</button>
		</div>
	</div>
	<div id="content">
		<!-- <div class="lector"> -->
				{% if event.owner.profile.avatar and event.owner.profile.avatar.url is not None %}
				<div class="avatar">
					<img src="{{ event.owner.profile.avatar.url }}">
				</div>
				{% endif %}
		<!-- </div> -->
		<div class="options">
			<div class="option">
				<div class="key">Лектор</div>
				<div class="value">{{ event.owner.username }}</div>
			</div>
			<div class="option">
				<div class="key">Место проведения</div>
				<div class="value">{{ event.location }}</div>
			</div>
			<div class="option">
				<div class="key">Дата и время начала</div>
				<div class="value">{{ event.event_start_time }}</div>
			</div>
			<div class="option">
				<div class="key">Длительность</div>
				<div class="value">{{ event.duration }}</div>
			</div>
			<div class="option">
				<div class="key">Необходимо подписчиков</div>
				<div class="value">{{ event.need_subscribers }}</div>
			</div>
		</div>
		<div class="description">
		{{ event.description }}
		</div>
		<div id="eventChat" class="chat">
			<div class="comments_count">Количество комментариев - {{ event.chat.count_messages }}</div>
			<div class="messages">
				{% for message in event.chat.chatmessage_set.all %}
				<div class="message">
					<div class="author">
						<a class="" href="{% url 'accounts:profile' message.author.username %}">{{ message.author.username }}</a>
					</div>
					<div class="pub_date">{{ message.pub_date }}</div>
					<div class="text">{{ message.text }}</div>
					<div class="likes_count">{{ message.likes_count }}</div>
					<div class="dislikes_count">{{ message.dislikes_count }}</div>
				</div>
				{% empty %}
				Комментариев нет. Похоже вы будете первым!
				{% endfor %}
			</div>
			<a href="#" onclick="updateChat()">Обновить</a>
		</div>
		<script>
		var n = 0
			function updateChat() {
				$.ajax({
		            type: 'GET',
		            url: '{% url 'chat:getMessages' 999 %}'.replace('999', {{ event.chat.pk }}),
		            success: function(data) {
		                comments_count = data['count_messages'];
		                messagesDom = []
		                for (var i = data['messages'].length - 1; i >= 0; i--) {
		                	message = data['messages'][i];
		                	author = message.author;
		                	messageDom = {
								class: 'message',
								content: [
									{
										class: 'author',
										content: [
											{
												tag: 'a',
												class: '',
												href: '{% url 'accounts:profile' 'admin' %}'.replace('admin', author.username),
												content: author.first_name.length > 0 ? author.first_name : author.username,
											},
										],
									}, 
									{
										class: 'pub_date',
										content: message['pub_date'],
									}, 
									{
										class: 'text',
										content: message['text'],
									}, 
									{
										class: 'likes_count',
										content: message['likes_count'],
									}, 
									{
										class: 'dislikes_count',
										content: message['dislikes_count'],
									}, 
								], //['text'],
							}; 
							
		                	messagesDom.push(messageDom)
		                };
						chatDom = [
							{
								class: 'comments_count',
								content: 'Количество комментариев - ' + comments_count,
							},
							{
								class: 'messages',
								content: messagesDom,
							},
							{
								tag: 'a',
								href: '#',
								onclick: 'updateChat()',
								content: 'Обновить',
							},
						]
						eventChat.innerHTML = ''
						generateDOM(chatDom, eventChat);
		            },
		            error:  function(xhr, str){
		                alert('Возникла ошибка: ' + xhr.responseCode);
		            }
				});

				

				
			}
		</script>
	</div>
</div>
