{% extends 'core/base.html' %}

{% load static %}
{% load i18n %}

{% block title %}IT microphone{% endblock %}

{% block content %}
<h2 class="events-header">
{% if category == 'past' %}
{% trans "Прошедшие события" %}
{% elif category == 'future' %}
{% trans "Предстоящие события" %}
{% endif %}
</h2>
<div class="events-row">
	{% for event in events %}
		<div id="eventN{{ event.pk }}" class="event">
			<div class="theme">{{ event.theme }}</div>
			<div class="wrapper">
				<div class="options">
					<div class="option">
						<div class="key">Лектор</div>
						<div class="value">{{ event.owner.username }}</div>
					</div>
					<div class="option">
						<div class="key">Место проведения</div>
						<div class="value">{{ event.location }}</div>
					</div>
					<div class="option">
						<div class="key">Дата и время начала</div>
						<div class="value">{{ event.event_start_time }}</div>
					</div>
					<div class="option">
						<div class="key">Длительность</div>
						<div class="value">{{ event.duration }}</div>
					</div>
					<div class="option">
						<div class="key">Необходимо подписчиков</div>
						<div class="value">{{ event.need_subscribers }}</div>
					</div>
				</div>

				<div class="description">
				{{ event.description }}
				{{ event.subscribed }}
				</div>
			</div>
			<div class="buttons">
				<button class="more-button" onclick="showEventPopup({{ event.pk }})">Подробнее</button>
				<button class="{% if event.subscribed %}subscribed-button{% else %}subscribe-button{% endif %}" onclick="{% if event.subscribed %}unsubscribeToEvent({{ event.pk }}){% else %}subscribeToEvent({{ event.pk }}){% endif %}" subscribers="{{ event.anonymous_subscribers }}">{% if event.subscribed %}Отписаться{% else %}Подписаться{% endif %} ({{ event.anonymous_subscribers }})</button>
			</div>
		</div>
	{% endfor %}
</div>
<div id="event_popup" class="anim_event_popup_showing" onclick="hideEventPopup()" style="display: none;">
	<div class="close-button">X</div>
	<iframe id="event_popup_frame" class="anim_event_popup_frame_showing"  src=""  frameborder="no">
	{% blocktrans %}У вас плохой браузер :({% endblocktrans %}
	</iframe>
</div>

<script>
function showEventPopup(id) {
	// да, костыль, но работает же!
    event_popup.getElementsByTagName("iframe")[0].src = "{% url 'core:event_detail' pk=999 %}".replace(999, id);
    event_popup.style.display = "block";
    event_popup_frame.style.webkitAnimationName = 'event_popup_frame_showing';
    event_popup.style.webkitAnimationName = 'event_popup_showing';
}
function hideEventPopup() {
	event_popup_frame.style.webkitAnimationName = 'event_popup_frame_hiding';
	event_popup.style.webkitAnimationName = 'event_popup_hiding';
	setTimeout(function() {
		event_popup.style.display='none';
	}, 400)
}

function subscribeToEvent(pk)
{
    $.ajax({
            type: 'GET',
            url: '/ajax/eventSubscribe/' + pk + '/',
            success: function(data) {
                    ajaxResult.textContent = data;
                    elem = $('#eventN' + pk + '').children('.buttons').children('.subscribe-button')
                    elem.removeClass('subscribe-button').addClass('subscribed-button')
                    elem[0].textContent = "Отписаться (" + elem[0].getAttribute('subscribers') + ")"
                    elem.unbind('click');
                    elem[0].onclick = function() {
                     	unsubscribeToEvent(pk)
                    }
            },
            error:  function(xhr, str){
                    alert('Возникла ошибка: ' + xhr.responseCode);
            }
	});
}
function unsubscribeToEvent(pk)
{
    $.ajax({
            type: 'GET',
            url: '/ajax/eventUnsubscribe/' + pk + '/',
            success: function(data) {
                    ajaxResult.textContent = data;
                    ajaxResult.textContent = data;
                    elem = $('#eventN' + pk + '').children('.buttons').children('.subscribed-button')
                    elem.removeClass('subscribed-button').addClass('subscribe-button')
                    elem[0].textContent = "Подписаться (" + elem[0].getAttribute('subscribers') + ")"
                    elem.unbind('click');
                    elem[0].onclick = function() {
                     	subscribeToEvent(pk)
                    }
            },
            error:  function(xhr, str){
                    alert('Возникла ошибка: ' + xhr.responseCode);
            }
	});
}
</script>



{% endblock %}