body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
h1, h2 {
	font-weight: 500;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 30px;
}

button {
	font-size: 14px;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    float: left;
    background-color: #fff;
    height: 100%;
    border-right: 1px solid #ccc;
    /*box-shadow: 2px 2px 2px #aeaeae;*/
}
.posts {
    margin-left: 250px;
}
.sidebar .item {
    position: relative;
    /*height: 50px;*/
    overflow: hidden;
    text-align: left;
    transition: 0.25s;
    transition: height 1s;
    /*transition: height 0.25s;*/
    /*background-color: red;*/
}
.sidebar .item .submenu {
    display: none;
}
.sidebar .item .submenu .subitem {
    
}
.sidebar .item .submenu .subitem a {
    padding-left: 25px;    
}
.sidebar .item > a,
.sidebar .item .subitem a{
    display: block;
    text-decoration: none;
    color: #000;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    transition: 0.25s;
}
.sidebar .item > a:hover,
.sidebar .item .subitem a:hover {
    background-color: #eee;
    color: #000;
}
.sidebar .item .hide_show_button {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    /*line-height: 50px;*/
    /*text-align: center;*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: blue;*/
    transition: 0.25s;
}

.sidebar .item .hide_show_button:hover {
    transform: rotate(90deg);
    background-color: #eee;
    cursor: pointer;
}