#event_detail_frame .header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
	min-height: 60px;
}
#event_detail_frame 
.header .button-wrapper {
	
}
#event_detail_frame 
.header .button-wrapper button {
	margin-top: 7px;
	height: 45px;
	display: inline-block;
}
#event_detail_frame 
.theme {
	/*display: inline-block;
	width: 80%;*/
	margin: 10px 20px;
	text-align: center;
	font-size: 35px;
}

#event_detail_frame 
#content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}
#event_detail_frame 
#content > div {
	margin: 10px;
}

#event_detail_frame 
.options {
	width: 600px;

} 
#event_detail_frame 
.option {
	background-color: #eee;
	margin: 10px 0;
}
#event_detail_frame .option .key, 
#event_detail_frame .option .value {
	display: inline-block;
	padding: 5px 10px;
}
#event_detail_frame .option .key {
	min-width: 40%;
}
#event_detail_frame .option .value {

}
#event_detail_frame .description, 
#event_detail_frame .chat {
	width: 90%;

	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

#event_detail_frame 
.header .button-wrapper button {
	border: none;
	padding: 12px 25px;
	/*margin: 5px 0;*/
	border-radius: 4px;
}
#event_detail_frame 
.event button:hover {
	/*background-color: #ddd;*/
}
#event_detail_frame 
.subscribe-button {
	background-color: #aea;
}
#event_detail_frame 
.subscribe-button:hover {
	background-color: #ada;
}

#event_detail_frame .subscribed-button {
	background-color: #eee !important;
}
#event_detail_frame .subscribed-button:hover {
	background-color: #ddd !important;
}