@media screen and (max-width: 600px) {
	.event {
		width: 90% !important;
	}
	#beta {
		display: none;
	}
	#main-menu {
		min-height: 10px !important;
	}
	#main-menu > * {
		min-height: 10px !important;
	}
	#main-menu a{
		padding: 0px 5px !important;
		margin: 0 !important;
		min-height: 10px !important;
	}
}

#beta {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100px;
	height: : 50px;
	line-height: 50px;

	text-align: center;
	color: #AEAEAE;
}

body {
	background-color: #F6F8F9;
	padding: 0;
	margin: 0;
}

.events-header {
	text-align: center;
}
.events-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}
.event {
	/*flex-basis: 40%;*/
	width: 60%;

	margin: 10px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 2px 2px 2px #AEAEAE;
	padding-bottom: 10px;
}
.event:hover {
	/*box-shadow: 2px 2px 2px #555599;*/
}
.event .wrapper {
	/*padding: 10px;*/

}
.event .header {
	background-color: #FFEB9E;
	color: #000;
	border-radius: 4px 4px 0 0;
	padding: 10px;
}
.event .theme {
	display: inline-block;
}
.event .edit {
	float: right;	
}
.event .edit a {
	
}
.event .option {
	display: block;
	margin: 10px 0;
	padding: 5px 10px;
	background-color: #eee;
	/*background-color: #ddd;*/
}
.event .option > * {
	/*background-color: red;*/
	/*margin: 0 !important;
	padding: 0 !important;*/
}
.event .options .option:nth-child(even) {
}
.event .options .option:nth-child(odd) {
}
.event .option .key {
	display: inline-block;
	width: 40%;
}
.event .option .value {
	display: inline-block;
}
.event .description {
	padding: 10px;
}
.event .buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}
.event button {
	display: inline-block;
	width: 30%;
	border: none;
	padding: 12px 10px;
	margin: 5px 0;
	border-radius: 4px;
}
.event button:hover {
	/*background-color: #ddd;*/
}
.event .subscribe-button {
	background-color: #aea;
}
.event .subscribe-button:hover {
	background-color: #ada;
}
.event .more-button {
	background-color: #eee;
}
.event .more-button:hover {
	background-color: #ddd;
}



.subscribed-button {
	background-color: #eee !important;
}
.subscribed-button:hover {
	background-color: #ddd !important;
}

#event_popup {
	position: fixed;
	left: 0;
	width: 100%;
	top: 0;
	height: 100%;
	z-index: 999;

	background-color: rgba(0,0,0,0.5);
}
#event_popup #event_popup_frame {
	background-color: red;
    position: fixed;
	/*position: fixed;
	top: 0;
	left: 0;*/
	left: 10%;
	width: 80%;
	height: 100%;
	background-color: #fff;
}
#event_popup .close-button {
	position: fixed;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;

	line-height: 50px;
	font-size: 40px;
	text-align: center;
	color: #fff;
	transition: 0.25s linear;
}	

#event_popup .close-button:hover {
	/*background-color: #fff;*/
	color: #f00;
	cursor: pointer;
}
.anim_event_popup_showing {
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
.anim_event_popup_frame_showing {
	animation-timing-function: ease-in;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
}
@keyframes event_popup_frame_showing {
    from {
        left: -100%;
        opacity: 0;
    }
    to {
        left: 10%;
        opacity: 1;
    }
}
@keyframes event_popup_frame_hiding {
    from {
        left: 10%;
        opacity: 1;
    }
    to {
        left: 100%;
        opacity: 0;
    }
}
@keyframes event_popup_showing {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes event_popup_hiding {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

header {
	min-height: 50px;
	overflow: hidden;	
}
#main-menu {
	/*position: fixed;*/
	/*top: 0;*/
	/*left: 0;*/
	width: 100%;
	min-height: 50px;

	background-color: #fff;
	border-bottom: 1px solid #ccc;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}
#main-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;

	letter-spacing: -0.3em;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}
#main-menu ul li {
	display: inline-block;
	letter-spacing: normal;
}

#main-menu > * {
	min-height: 50px;
	/*background-color: red;*/
}
#main-menu a {
	display: block;
	min-height: 50px;
	line-height: 40px;
	box-sizing: border-box;
	padding: 5px 20px;
	text-decoration: none;
	color: #000;
	margin: 0 0px;
	transition: 0.25s ease-in;
}

#main-menu ul li a{
}
#main-menu ul li a:hover {
	background-color: #eee;
	color: #000;
}
#main-menu .login-button a {
}
#main-menu .login-button a:hover {
	background-color: #aea;
	/*background-color: #ada;*/
}
#main-menu .profile-button a:hover {
	background-color: #eee;
}

#main-menu .add-event-button a:hover {
	background-color: #eee;
}

.profile-button::first-letter {
	text-transform: uppercase;
}

#main-menu .floating-menu {
	position: relative;
	width: 100px;
	height: 50px;
	overflow: hidden;
	text-align: center;
	/*background-color: red;*/
	padding-right: 20px;
}
#main-menu .opened-floating-menu {
	width: auto !important;
}
#main-menu .floating-menu div {
	display: inline-block;
}

#main-menu .floating-menu .more-button {
	position: absolute;
	top: 0;
	right: 0px;
	width: 30px;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	/*background-color: blue;*/
	
}
#main-menu .floating-menu .more-button:hover {
	background-color: #eee;
}
html {
	height: 100%;
}
body {
	height: 100%;
}
#content {
	height: 100%;

}
.form_wrapper {
	/*text-align: center;*/
	/*background-color: red;*/
	min-height: calc(100% - 52px);
	/*background-color: red;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
  	justify-content: center;
}
form {
	margin-bottom: 10px;
}
form p {
	
}
form p label {
	display: block;
	margin-bottom: 5px;
	font-size: 17px;
}
form input, 
form textarea {
	display: block;
	width: 100%;

	font-size: 15px;
	border: 1px solid #ddd;
	padding: 5px;
	box-sizing: border-box;
}
form input:focus, 
form textarea:focus {
	border: 1px solid #999;
}
input:focus, textarea { 
	outline: none; 
}
form input[type="submit"] {
	padding: 10px 5px;
	transition: 0.25s linear;
	background-color: #eee;
	border: none;
}
form input[type="submit"]:hover {
	background-color: #ddd;
	color: #000;
}

h2 {
	text-align: center;
}

#edit_profile_form {
	min-width: 300px;
}

.edit_profile_form_wrapper a{
	display: block;
	width: 100%;
	text-align: center;
}



.user_profile {

}
.user_profile .options {
	width: 50%;
}
.user_profile .options .option {
	display: flex;
	background-color: #fff;
	margin: 10px;
	box-shadow: 1px 1px 1px #999;
}
.user_profile .options .option .key, 
.user_profile .options .option .value {
	padding: 10px;
}