{% load static %}
{% load i18n %}
{% load is_user_subscribed_to_event %}

{% if events.has_other_pages %}
<div class="pagination-wrapper">
    <div class="pagination">
        <span class="step-links">
            {% if events.has_previous %}
                <a class="button prev" href="?page={{ events.previous_page_number }}">&lt;</a>
            {% endif %}
            {% for page_number in events.paginator.page_range %}
            	{% if forloop.counter == 1 or forloop.counter > events.paginator.low_bound and forloop.counter < events.paginator.middle_bound or forloop.counter > events.paginator.high_bound %}
                <a class="button page{% if page_number == events.number %} active_page{% endif %}" href="?page={{ page_number }}">{{ page_number }}</a>
                <!-- {{forloop.counter}} -->
                {% else %}
                	{% if forloop.counter == events.paginator.middle_bound or forloop.counter == events.paginator.low_bound %}
                	...
                	{% endif %}
                {% endif %}
            {% endfor %}
            {% if events.has_next %}
                <a class="button next" href="?page={{ events.next_page_number }}">&gt;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endif %}
<div class="events-row">
	{% for event in events %}
		<div id="eventN{{ event.pk }}" class="event">
			<div class="header">
				<div class="theme">{{ event.theme }}</div>
				{% if request.user == event.owner %}
				<div class="edit"><a href="{% url 'core:editEvent' pk=event.pk %}">Редактировать</a></div>
				{% endif %}
			</div>
			<div class="wrapper">
				<div class="options">
					<div class="option">
						<div class="key">Лектор</div>
						<div class="value"><a href="{% url 'accounts:profile' username=event.owner.username %}">{{ event.owner.username }}</a></div>
					</div>
					<div class="option">
						<div class="key">Место проведения</div>
						<div class="value">{{ event.location }}</div>
					</div>
					<div class="option">
						<div class="key">Дата и время начала</div>
						<div class="value">{{ event.event_start_time }}</div>
					</div>
					<div class="option">
						<div class="key">Длительность</div>
						<div class="value">{{ event.duration }}</div>
					</div>
					<div class="option">
						<div class="key">Необходимо подписчиков</div>
						<div class="value">{{ event.need_subscribers }}</div>
					</div>
				</div>

				<div class="description">
				{{ event.description }}
				{{ event.subscribed }}
				</div>
			</div>
			<div class="buttons">
				<button class="more-button" onclick="showEventPopup({{ event.pk }})">Подробнее</button>
				<button class="{% if user|is_user_subscribed_to_event:event %}subscribed-button{% else %}subscribe-button{% endif %}" onclick="{% if user|is_user_subscribed_to_event:event %}unsubscribeFromEvent(this, {{ event.pk }}){% else %}subscribeToEvent(this, {{ event.pk }}){% endif %}" subscribers="{{ event.subscribers.count }}">{% if user|is_user_subscribed_to_event:event %}Отписаться{% else %}Подписаться{% endif %} ({{ event.subscribers.count }})</button>
			</div>
		</div>
	{% empty %}
	<h3>На складе ничего не найдено</h3>
	{% endfor %}
</div>
{% if events.has_other_pages %}
<div class="pagination-wrapper">
    <div class="pagination">
        <span class="step-links">
            {% if events.has_previous %}
                <a class="button prev" href="?page={{ events.previous_page_number }}">&lt;</a>
            {% endif %}
            {% for page_number in events.paginator.page_range %}
            	{% if forloop.counter == 1 or forloop.counter > events.paginator.low_bound and forloop.counter < events.paginator.middle_bound or forloop.counter > events.paginator.high_bound %}
                <a class="button page{% if page_number == events.number %} active_page{% endif %}" href="?page={{ page_number }}">{{ page_number }}</a>
                <!-- {{forloop.counter}} -->
                {% else %}
                	{% if forloop.counter == events.paginator.middle_bound or forloop.counter == events.paginator.low_bound %}
                	...
                	{% endif %}
                {% endif %}
            {% endfor %}
            {% if events.has_next %}
                <a class="button next" href="?page={{ events.next_page_number }}">&gt;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endif %}
<div id="event_popup" class="anim_event_popup_showing"  style="display: none;">
	<div class="close-button">X</div>
	<div id="event_popup_frame" class="anim_event_popup_frame_showing" onclick="function() { return false; }">

	</div>
	<!-- <iframe id="event_popup_frame" class="anim_event_popup_frame_showing"  src=""  frameborder="no" seamless>
	{% blocktrans %}У вас плохой браузер :({% endblocktrans %}
	</iframe> -->
</div>

<script>
$('#event_popup').click(function(event) {
	hideEventPopup();
})
$('#event_popup #event_popup_frame').click(function(event) {
	event.stopPropagation();
})
function showEventPopup(id) {
	// да, костыль, но работает же!
	$.get( "{% url 'core:event_detail' pk=999 %}".replace(999, id), function( response ) { 
		$('#event_popup #event_popup_frame').html(response);
	} );
    // event_popup.getElementsByTagName("iframe")[0].src = "{% url 'core:event_detail' pk=999 %}".replace(999, id);
    event_popup.style.display = "block";
    event_popup_frame.style.webkitAnimationName = 'event_popup_frame_showing';
    event_popup.style.webkitAnimationName = 'event_popup_showing';
}
function hideEventPopup() {
	event_popup_frame.style.webkitAnimationName = 'event_popup_frame_hiding';
	event_popup.style.webkitAnimationName = 'event_popup_hiding';
	setTimeout(function() {
		event_popup.style.display='none';
	}, 400)
}

function setSubscribedState(elem, pk, state) {
	var action_url
	if(state)
		action_url = '/ajax/eventSubscribe/' + pk + '/'
	else
		action_url = '/ajax/eventUnsubscribe/' + pk + '/'
	$.ajax({
            type: 'GET',
            url: action_url,
            success: function(data) {
                    showNotification(data);
                    elem = $(elem)
                    if(state)
                    	elem.removeClass('subscribe-button').addClass('subscribed-button')
                    else
                    	elem.removeClass('subscribed-button').addClass('subscribe-button')
                    subscribers = parseInt(elem[0].getAttribute('subscribers'))
                    if(state)
                    	subscribers++
                    else
                    	subscribers--
                    elem[0].setAttribute('subscribers', subscribers)
                    if(state) {
	                    elem[0].textContent = "Отписаться (" + subscribers + ")"
	                    elem.unbind('click');
	                    elem[0].onclick = function() {
	                     	unsubscribeFromEvent(elem, pk)
	                    }
                	} else {
                		elem[0].textContent = "Подписаться (" + subscribers + ")"
	                    elem.unbind('click');
	                    elem[0].onclick = function() {
	                     	subscribeToEvent(elem, pk)
	                    }
                	}
            },
            error:  function(xhr, str){
                    alert('Возникла ошибка: ' + xhr.responseCode);
            }
	});
}
function subscribeToEvent(elem, pk) {
 	setSubscribedState(elem, pk, true)   
}
function unsubscribeFromEvent(elem, pk)
{
    setSubscribedState(elem, pk, false)
}
</script>
